In [2]:
import numpy as np
import pandas as pd

x = [np.nan, 1, 2, 3, 4, 5]
y = pd.Series([x[np.random.randint(0, 6)] for i in range(20)])
y

0     3.0
1     1.0
2     4.0
3     NaN
4     NaN
5     3.0
6     1.0
7     4.0
8     3.0
9     5.0
10    5.0
11    5.0
12    4.0
13    1.0
14    4.0
15    5.0
16    NaN
17    2.0
18    1.0
19    2.0
dtype: float64

In [4]:
y.isnull().sum()

3

In [5]:
y.dropna()

0     3.0
1     1.0
2     4.0
5     3.0
6     1.0
7     4.0
8     3.0
9     5.0
10    5.0
11    5.0
12    4.0
13    1.0
14    4.0
15    5.0
17    2.0
18    1.0
19    2.0
dtype: float64

In [8]:
y.fillna(y.mean())

0     3.000000
1     1.000000
2     4.000000
3     3.117647
4     3.117647
5     3.000000
6     1.000000
7     4.000000
8     3.000000
9     5.000000
10    5.000000
11    5.000000
12    4.000000
13    1.000000
14    4.000000
15    5.000000
16    3.117647
17    2.000000
18    1.000000
19    2.000000
dtype: float64

In [9]:
y.ffill()

0     3.0
1     1.0
2     4.0
3     4.0
4     4.0
5     3.0
6     1.0
7     4.0
8     3.0
9     5.0
10    5.0
11    5.0
12    4.0
13    1.0
14    4.0
15    5.0
16    5.0
17    2.0
18    1.0
19    2.0
dtype: float64

In [10]:
y.bfill()

0     3.0
1     1.0
2     4.0
3     3.0
4     3.0
5     3.0
6     1.0
7     4.0
8     3.0
9     5.0
10    5.0
11    5.0
12    4.0
13    1.0
14    4.0
15    5.0
16    2.0
17    2.0
18    1.0
19    2.0
dtype: float64

In [13]:
y[0] = np.nan

In [15]:
y.ffill()

0     NaN
1     1.0
2     4.0
3     4.0
4     4.0
5     3.0
6     1.0
7     4.0
8     3.0
9     5.0
10    5.0
11    5.0
12    4.0
13    1.0
14    4.0
15    5.0
16    5.0
17    2.0
18    1.0
19    2.0
dtype: float64

In [18]:
y[19] = np.nan

In [20]:
y.bfill()

 0     1.0
 1     1.0
 2     4.0
 3     3.0
 4     3.0
 5     3.0
 6     1.0
 7     4.0
 8     3.0
 9     5.0
 10    5.0
 11    5.0
 12    4.0
 13    1.0
 14    4.0
 15    5.0
 16    2.0
 17    2.0
 18    1.0
 19    NaN
-1     NaN
dtype: float64

In [22]:
sales_data = {
    '연도':[2015, 2016, 2017, 2018, 2019, 2020],
    '판매량':[103, 70, 130, 160, 190, 230],
    '매출':[500000, 300000, 400000, 550000, 700000, 680000],
    '순이익':[370000, 190000, 300000, 480000, 600000, 590000]
}
sales_data

{'연도': [2015, 2016, 2017, 2018, 2019, 2020],
 '판매량': [103, 70, 130, 160, 190, 230],
 '매출': [500000, 300000, 400000, 550000, 700000, 680000],
 '순이익': [370000, 190000, 300000, 480000, 600000, 590000]}

In [76]:
df = pd.DataFrame(sales_data)

In [77]:
df.head()

     연도  판매량      매출     순이익
0  2015  103  500000  370000
1  2016   70  300000  190000
2  2017  130  400000  300000
3  2018  160  550000  480000
4  2019  190  700000  600000

In [74]:
type(df['연도'])

pandas.core.series.Series

In [36]:
df.iloc[1]

Index(['연도', '판매량', '매출', '순이익'], dtype='object')

In [47]:
type(sales_data)

dict

In [73]:
df2 = pd.DataFrame(sales_data, columns=['판매량', '매출', '순이익'], index=df['연도'])
df2

      판매량      매출     순이익
연도
2015  103  500000  370000
2016   70  300000  190000
2017  130  400000  300000
2018  160  550000  480000
2019  190  700000  600000
2020  230  680000  590000

In [89]:
df = pd.read_csv("sales_data.csv", index_col='연도', header=0, sep=',')
df

      판매량      매출      순익
연도
2015  103  500000  370000
2016   70  300000  190000
2017  130  400000  300000
2018   60  550000  480000
2019  190  700000  600000
2020  230  680000  590000

In [104]:
df.to_csv('sales_data_save.csv', encoding='utf-8')

In [96]:
df2 = pd.read_csv('sales_data_save.csv', encoding='utf-8')

In [97]:
df2

     연도  판매량      매출      순익
0  2015  103  500000  370000
1  2016   70  300000  190000
2  2017  130  400000  300000
3  2018   60  550000  480000
4  2019  190  700000  600000
5  2020  230  680000  590000

In [170]:
sales_data = {
    '연도':[2015, 2016, 2017, 2018, 2019, 2020],
    '판매량':[103, 70, 130, 160, 190, 230],
    '매출':[500000, 300000, 400000, 550000, 700000, 680000],
    '순이익':[370000, 190000, 300000, 480000, 600000, 590000]
}

In [171]:
df = pd.DataFrame(sales_data)
df

     연도  판매량      매출     순이익
0  2015  103  500000  370000
1  2016   70  300000  190000
2  2017  130  400000  300000
3  2018  160  550000  480000
4  2019  190  700000  600000
5  2020  230  680000  590000

In [161]:
list(df.columns)

['연도', '판매량', '매출', '순이익']

In [172]:
df['순이익율'] = (df['순이익']/df['매출']) * 100
df

     연도  판매량      매출     순이익       순이익율
0  2015  103  500000  370000  74.000000
1  2016   70  300000  190000  63.333333
2  2017  130  400000  300000  75.000000
3  2018  160  550000  480000  87.272727
4  2019  190  700000  600000  85.714286
5  2020  230  680000  590000  86.764706

In [102]:
def check(n):
    if n > 80:
        return '높음'
    else:
        return '낮음'

In [173]:
df['순이익율_비교'] = df['순이익율'].apply(lambda x:'높음' if x > 80 else '낮음')
df

     연도  판매량      매출     순이익       순이익율 순이익율_비교
0  2015  103  500000  370000  74.000000      낮음
1  2016   70  300000  190000  63.333333      낮음
2  2017  130  400000  300000  75.000000      낮음
3  2018  160  550000  480000  87.272727      높음
4  2019  190  700000  600000  85.714286      높음
5  2020  230  680000  590000  86.764706      높음

In [177]:
for item in df.groupby('순이익율_비교'):
    print(type(item))
    print(item)

<class 'tuple'>
('낮음',      연도  판매량      매출     순이익       순이익율 순이익율_비교
0  2015  103  500000  370000  74.000000      낮음
1  2016   70  300000  190000  63.333333      낮음
2  2017  130  400000  300000  75.000000      낮음)
<class 'tuple'>
('높음',      연도  판매량      매출     순이익       순이익율 순이익율_비교
3  2018  160  550000  480000  87.272727      높음
4  2019  190  700000  600000  85.714286      높음
5  2020  230  680000  590000  86.764706      높음)

In [176]:
df.groupby('순이익율_비교')

In [105]:
del df['순이익율_비교']
df

     연도  판매량      매출     순이익       순이익율
0  2015  103  500000  370000  74.000000
1  2016   70  300000  190000  63.333333
2  2017  130  400000  300000  75.000000
3  2018  160  550000  480000  87.272727
4  2019  190  700000  600000  85.714286
5  2020  230  680000  590000  86.764706

In [109]:
df[df['매출'] > 500000]

     연도  판매량      매출     순이익       순이익율 순이익율_비교
3  2018  160  550000  480000  87.272727      높음
4  2019  190  700000  600000  85.714286      높음
5  2020  230  680000  590000  86.764706      높음

In [110]:
df['테스트1'] = np.where(df['판매량'] > 200, 0, df['판매량'])
df

     연도  판매량      매출     순이익       순이익율 순이익율_비교  테스트1
0  2015  103  500000  370000  74.000000      낮음   103
1  2016   70  300000  190000  63.333333      낮음    70
2  2017  130  400000  300000  75.000000      낮음   130
3  2018  160  550000  480000  87.272727      높음   160
4  2019  190  700000  600000  85.714286      높음   190
5  2020  230  680000  590000  86.764706      높음     0

In [116]:
df['테스트2'] = df[df['판매량'] < 150]['판매량'] + 50

In [115]:
 df[df['판매량'] < 150]['판매량'] + 50

0    153
1    120
2    180
Name: 판매량, dtype: int64

In [117]:
df

     연도  판매량      매출     순이익       순이익율 순이익율_비교  테스트1   테스트2
0  2015  103  500000  370000  74.000000      낮음   103  153.0
1  2016   70  300000  190000  63.333333      낮음    70  120.0
2  2017  130  400000  300000  75.000000      낮음   130  180.0
3  2018  160  550000  480000  87.272727      높음   160    NaN
4  2019  190  700000  600000  85.714286      높음   190    NaN
5  2020  230  680000  590000  86.764706      높음     0    NaN

In [122]:
df = pd.DataFrame(sales_data)
df

     연도  판매량      매출     순이익
0  2015  103  500000  370000
1  2016   70  300000  190000
2  2017  130  400000  300000
3  2018  160  550000  480000
4  2019  190  700000  600000
5  2020  230  680000  590000

In [124]:
df.loc[6] = [2021, 720, 650000, 720000]
df

     연도  판매량      매출     순이익
0  2015  103  500000  370000
1  2016   70  300000  190000
2  2017  130  400000  300000
3  2018  160  550000  480000
4  2019  190  700000  600000
5  2020  230  680000  590000
6  2021  720  650000  720000

In [125]:
df.loc[7] = df.loc[5] + 100

In [126]:
df

     연도  판매량      매출     순이익
0  2015  103  500000  370000
1  2016   70  300000  190000
2  2017  130  400000  300000
3  2018  160  550000  480000
4  2019  190  700000  600000
5  2020  230  680000  590000
6  2021  720  650000  720000
7  2120  330  680100  590100

In [128]:
df['순이익율'] = (df['순이익']/df['매출']) * 100
df['순이익율_비교'] = df['순이익율'].apply(lambda x:'높음' if x > 80 else '낮음')
df

     연도  판매량      매출     순이익        순이익율 순이익율_비교
0  2015  103  500000  370000   74.000000      낮음
1  2016   70  300000  190000   63.333333      낮음
2  2017  130  400000  300000   75.000000      낮음
3  2018  160  550000  480000   87.272727      높음
4  2019  190  700000  600000   85.714286      높음
5  2020  230  680000  590000   86.764706      높음
6  2021  720  650000  720000  110.769231      높음
7  2120  330  680100  590100   86.766652      높음

In [130]:
del df['순이익율_비교']
df

     연도  판매량      매출     순이익        순이익율
0  2015  103  500000  370000   74.000000
1  2016   70  300000  190000   63.333333
2  2017  130  400000  300000   75.000000
3  2018  160  550000  480000   87.272727
4  2019  190  700000  600000   85.714286
5  2020  230  680000  590000   86.764706
6  2021  720  650000  720000  110.769231
7  2120  330  680100  590100   86.766652

In [139]:
df.drop(['순이익율'], axis=1, inplace=True)

In [140]:
df

     연도  판매량      매출     순이익
0  2015  103  500000  370000
1  2016   70  300000  190000
2  2017  130  400000  300000
3  2018  160  550000  480000
4  2019  190  700000  600000
5  2020  230  680000  590000
6  2021  720  650000  720000
7  2120  330  680100  590100

In [142]:
df.drop(df.columns[[0, 2]], axis=1)

   판매량     순이익
0  103  370000
1   70  190000
2  130  300000
3  160  480000
4  190  600000
5  230  590000
6  720  720000
7  330  590100

In [143]:
df.drop(0, inplace=True)
df

     연도  판매량      매출     순이익
1  2016   70  300000  190000
2  2017  130  400000  300000
3  2018  160  550000  480000
4  2019  190  700000  600000
5  2020  230  680000  590000
6  2021  720  650000  720000
7  2120  330  680100  590100

In [145]:
df.drop([3, 4, 5], inplace=True)
df

     연도  판매량      매출     순이익
1  2016   70  300000  190000
2  2017  130  400000  300000
6  2021  720  650000  720000
7  2120  330  680100  590100

In [155]:
df = pd.DataFrame(np.random.randint(1, 100, size=(4, 4)), 
                  index=[['A','A','B','B'],['a','b','a','b']], 
        columns=[['가가','가가','나나','나나'],['가','나','가','나']])

df

     가가      나나
      가   나   가   나
A a  74  16  15  74
  b  47  11  25  91
B a  36  14  36  23
  b  16  93  82  23

In [153]:
np.random.randint(1, 100, size=(4, 4))

array([[ 1, 62,  7, 66],
       [30, 76, 92, 49],
       [55,  2, 55, 76],
       [13, 42, 86, 58]])

In [156]:
df.index

MultiIndex([('A', 'a'),
            ('A', 'b'),
            ('B', 'a'),
            ('B', 'b')],
           )

In [157]:
df.columns

MultiIndex([('가가', '가'),
            ('가가', '나'),
            ('나나', '가'),
            ('나나', '나')],
           )

In [178]:
df = pd.DataFrame(np.random.randint(1, 100, size=(8, 2)),
			index=[['A창고','A창고','A창고','A창고','B창고','B창고','B창고','B창고'],
 ['사과','배','바나나','사과','사과','배','바나나','배']],
columns=['판매','재고'])
df.index.names = ['창고명','상품명']
df

ValueError: Length of names must match number of levels in MultiIndex.

In [164]:
np.random.randint(1, 100, size=(8, 2))

array([[28, 31],
       [70, 25],
       [43, 88],
       [76, 67],
       [93, 23],
       [74, 28],
       [10, 86],
       [98, 74]])

In [168]:
df.groupby('창고명').sum()

      판매   재고
창고명
A창고  176  175
B창고   64  152

In [181]:
df=pd.DataFrame(np.random.randint(1,100,size=(4,4)),
                index=[['A','A','B','B'],['a','b','a','b']],
                columns=[['가가','나나','가가','가나']['가','나','가','나']])
df

<>:3: SyntaxWarning: list indices must be integers or slices, not tuple; perhaps you missed a comma?
<>:3: SyntaxWarning: list indices must be integers or slices, not tuple; perhaps you missed a comma?
<ipython-input-181-78569830f641>:3: SyntaxWarning: list indices must be integers or slices, not tuple; perhaps you missed a comma?
  columns=[['가가','나나','가가','가나']['가','나','가','나']])

TypeError: list indices must be integers or slices, not tuple

In [ ]:
df = pd.DataFrame(np.random.randint(1, 100, size=(4, 4)), 
                  index=[['A','A','B','B'],['a','b','a','b']], 
        columns=[['가가','가가','나나','나나'],['가','나','가','나']])

df